page-login {
.main_layer{
  position:absolute;
   left: 0;
   right: 0;
   margin:0 auto;
   top:50%;
   transform:translateY(-50%);
}
.main_logo{
  width: 50%;
  margin: auto;
  display: block;
  contain: none;
  background: none;
  img{
    width: 100%;

  }
}
}
