<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Personal Information
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            Name
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.name || userProfile?.surname">
            {{userProfile?.name}} {{userProfile?.surname}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.name">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateCity()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            City
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.city">
            {{userProfile?.city}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.city">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateInstitution()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            institution
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.institution">
            {{userProfile?.institution}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.institution">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            Email
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            Password
          </ion-col>
          <ion-col col-6 class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
